@font-face {
    font-family: 'San Francisco Pro';
    src: local('../fonts/San Francisco Pro Display Bold'), local('../fonts/San-Francisco-Pro-Display-Bold'),
    url('../fonts/SFProDisplay-Bold.woff2') format('woff2'),
    url('../fonts/SFProDisplay-Bold.woff') format('woff'),
    url('../fonts/SFProDisplay-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}